In [1]:
# Import all packages
import numpy as np
import pandas as pd
from Bio import Entrez

In [8]:
## Parameters
highConfidenceOnly = True

In [9]:
## Read in data
df1 = pd.read_csv('Klaeger(2017)_Science.csv', na_values=["n.d."])

In [10]:
## remove n/a values
df1.drop(df1.index[pd.isnull(df1['OTS-167'])], axis=0, inplace=True)

In [12]:
## remove low-confidence values if necessary
if highConfidenceOnly:
    df1.drop(df1.index[df1['OTS-167'].str.contains('\(') == True], axis=0, inplace=True)
    df1.drop(df1.index[df1['CC-401'].str.contains('\(') == True], axis=0, inplace=True)
else:
    df1['OTS-167'] = df1['OTS-167'].str.strip('()')
    df1['CC-401'] = df1['CC-401'].str.strip('()')

## convert n.i. values to np.inf
df1.replace('n.i.', np.inf, inplace=True)
df1 = df1.astype({'OTS-167':np.float, 'CC-401':np.float})
df1.dtypes

Name              object
Kinase            object
Direct binder     object
CC-401           float64
OTS-167          float64
dtype: object

In [6]:
## check for duplicates
df1.index[df1.duplicated() == True]

Int64Index([], dtype='int64')

In [7]:
# separate combined names into individual names
for name in df1.loc[:,'Name']:
    names = name.split(';')
    if (len(names) > 1):
        series = df1.loc[df1.index[df1['Name'] == name]].squeeze()
        for sub_name in names:
            series['Name'] = sub_name
            df1 = df1.append(series, ignore_index=True)
        df1.drop(df1.index[df1['Name'] == name], axis=0, inplace=True)
df1

        Name Kinase Direct binder       CC-401     OTS-167
0     BMPR1B    yes           yes          inf    2.000000
1        GAK    yes           yes  1464.000000    5.000000
2      RIPK2    yes           yes          inf    5.000000
3    CSNK2A2    yes           yes   584.000000   10.000000
4     DYRK1A    yes           yes   161.000000   10.000000
5       CLK1    yes           yes          inf   11.000000
6     CSNK2B     no            no   741.000000   11.000000
7      DCAF7     no            no    28.000000   11.000000
8      IRAK3    yes           yes          inf   12.000000
9        BCR     no           yes          inf   14.000000
10     EIF3J     no            no   784.000000   14.000000
11     LATS1    yes           yes          inf   14.000000
12      PIM1    yes           yes          inf   14.000000
13     STK10    yes           yes          inf   14.000000
14     TAOK1    yes           yes          inf   17.000000
15     TAOK3    yes           yes          inf   21.000000
16       NLK    yes           yes          inf   24.000000
17       RET    yes           yes          inf   28.000000
18      MELK    yes           yes   217.000000   29.000000
19     PTK2B    yes           yes          inf   30.000000
20      PLK4    yes           yes          inf   33.000000
21     CDK16    yes           yes          inf   34.000000
22       FER    yes           yes          inf   47.000000
23   MAP3K11    yes           yes          inf   52.000000
24     CCNB1     no            no          inf   57.000000
25   RPS6KA6    yes           yes          inf   57.000000
26    MAP2K5    yes           yes          inf   58.000000
27      STK4    yes           yes          inf   67.000000
28     PRKD2    yes           yes    56.000000   69.000000
29      STK3    yes           yes          inf   70.000000
..       ...    ...           ...          ...         ...
383      TXN     no            no          inf         inf
384     TYK2    yes            no          inf         inf
385   UBAP2L     no            no          inf         inf
386    UBE3C     no            no          inf         inf
387    UGGT1     no            no          inf         inf
388     ULK1    yes           yes          inf         inf
389    VDAC3     no           yes          inf         inf
390     WEE1    yes           yes          inf         inf
391     YARS     no           yes          inf         inf
392     YES1    yes           yes          inf         inf
394    YWHAG     no            no          inf         inf
395    YWHAQ     no            no          inf         inf
396  CSNK2A1    yes           yes   747.000000   11.000000
397  CSNK2A3    yes           yes   747.000000   11.000000
398    PRKCE    yes           yes          NaN  347.000000
399    PRKCH    yes           yes          NaN  347.000000
400     BRD4     no            no          inf         inf
401     BRD3     no            no          inf         inf
402      DDT     no            no          inf         inf
403     DDTL     no            no          inf         inf
404   EIF2S3     no           yes          inf         inf
405  EIF2S3L     no           yes          inf         inf
406    MOB1A     no            no          inf         inf
407    MOB1B     no            no          inf         inf
408    PCBP2     no            no          inf         inf
409    PCBP3     no            no          inf         inf
410     PRKX    yes           yes          inf         inf
411     PRKY    yes           yes          inf         inf
412   YTHDF3     no            no          inf         inf
413   YTHDF1     no            no          inf         inf

[413 rows x 5 columns]

In [8]:
## check for duplicates
df1.index[df1.duplicated() == True]
df1.shape

(413, 5)

In [9]:
## get official names and IDs

for name in df1['Name']:
    Entrez.email = 'bentyeh@gmail.com'
    handle = Entrez.esearch(db="gene", term='(' + name + '[gene]) AND (Homo sapiens[orgn]) AND alive[prop] NOT newentry[gene]')
    record_search = Entrez.read(handle)
    if len(record_search['IdList']) == 1:
        handle = Entrez.esummary(db='gene', id=record_search['IdList'][0])
        record = Entrez.read(handle)
        df1.loc[df1['Name'] == name, 'id'] = record_search['IdList'][0]
        df1.loc[df1['Name'] == name, 'Name_official'] = record['DocumentSummarySet']['DocumentSummary'][0]['Name']
    else:
        flag_found = False
        for ID in record_search['IdList']:
            handle = Entrez.esummary(db='gene', id=ID)
            record = Entrez.read(handle)
            
            ## official symbol matches name
            if record['DocumentSummarySet']['DocumentSummary'][0]['Name'] == name:
                df1.loc[df1['Name'] == name, 'id'] = ID
                df1.loc[df1['Name'] == name, 'Name_official'] = name
                flag_found = True
                break
        
        if not flag_found:
            print(name + ' ' + ','.join(record_search['IdList']))

Q6ZSR9

In [12]:
## manually fix names
df1.loc[df1['Name'] == 'Q6ZSR9', 'id'] = 'Q6ZSR9'
df1.loc[df1['Name'] == 'Q6ZSR9', 'Name_official'] = 'Q6ZSR9'

In [13]:
print(df1['Name_official'][df1['Name_official'] != df1['Name']])
print(df1['Name'][df1['Name_official'] != df1['Name']])
df1.index[df1.duplicated() == True]

45     MAP3K20
129      COQ8A
132       GRK2
244     TMEM94
354      MTREX
366      SRPRA
405    EIF2S3B
Name: Name_official, dtype: object
45          ZAK
129       ADCK3
132      ADRBK1
244    KIAA0195
354     SKIV2L2
366        SRPR
405     EIF2S3L
Name: Name, dtype: object

Int64Index([], dtype='int64')

In [14]:
df1

,Name,Kinase,Direct binder,CC-401,OTS-167,id,Name_official
0,BMPR1B,yes,yes,inf,2.000000,658,BMPR1B
1,GAK,yes,yes,1464.000000,5.000000,2580,GAK
2,RIPK2,yes,yes,inf,5.000000,8767,RIPK2
3,CSNK2A2,yes,yes,584.000000,10.000000,1459,CSNK2A2
4,DYRK1A,yes,yes,161.000000,10.000000,1859,DYRK1A
5,CLK1,yes,yes,inf,11.000000,1195,CLK1
6,CSNK2B,no,no,741.000000,11.000000,1460,CSNK2B
7,DCAF7,no,no,28.000000,11.000000,10238,DCAF7
8,IRAK3,yes,yes,inf,12.000000,11213,IRAK3
9,BCR,no,yes,inf,14.000000,613,BCR
10,EIF3J,no,no,784.000000,14.000000,8669,EIF3J
11,LATS1,yes,yes,inf,14.000000,9113,LATS1
12,PIM1,yes,yes,inf,14.000000,5292,PIM1
13,STK10,yes,yes,inf,14.000000,6793,STK10
14,TAOK1,yes,yes,inf,17.000000,57551,TAOK1
15,TAOK3,yes,yes,inf,21.000000,51347,TAOK3
16,NLK,yes,yes,inf,24.000000,51701,NLK
17,RET,yes,yes,inf,28.000000,5979,RET
18,MELK,yes,yes,217.000000,29.000000,9833,MELK
19,PTK2B,yes,yes,inf,30.000000,2185,PTK2B
20,PLK4,yes,yes,inf,33.000000,10733,PLK4
21,CDK16,yes,yes,inf,34.000000,5127,CDK16
22,FER,yes,yes,inf,47.000000,2241,FER
23,MAP3K11,yes,yes,inf,52.000000,4296,MAP3K11
24,CCNB1,no,no,inf,57.000000,891,CCNB1
25,RPS6KA6,yes,yes,inf,57.000000,27330,RPS6KA6
26,MAP2K5,yes,yes,inf,58.000000,5607,MAP2K5
27,STK4,yes,yes,inf,67.000000,6789,STK4
28,PRKD2,yes,yes,56.000000,69.000000,25865,PRKD2
29,STK3,yes,yes,inf,70.000000,6788,STK3
...,...,...,...,...,...,...,...
383,TXN,no,no,inf,inf,7295,TXN
384,TYK2,yes,no,inf,inf,7297,TYK2
385,UBAP2L,no,no,inf,inf,9898,UBAP2L
386,UBE3C,no,no,inf,inf,9690,UBE3C
387,UGGT1,no,no,inf,inf,56886,UGGT1
388,ULK1,yes,yes,inf,inf,8408,ULK1
389,VDAC3,no,yes,inf,inf,7419,VDAC3
390,WEE1,yes,yes,inf,inf,7465,WEE1
391,YARS,no,yes,inf,inf,8565,YARS
392,YES1,yes,yes,inf,inf,7525,YES1
394,YWHAG,no,no,inf,inf,7532,YWHAG
395,YWHAQ,no,no,inf,inf,10971,YWHAQ
396,CSNK2A1,yes,yes,747.000000,11.000000,1457,CSNK2A1
397,CSNK2A3,yes,yes,747.000000,11.000000,283106,CSNK2A3
398,PRKCE,yes,yes,NaN,347.000000,5581,PRKCE
399,PRKCH,yes,yes,NaN,347.000000,5583,PRKCH
400,BRD4,no,no,inf,inf,23476,BRD4
401,BRD3,no,no,inf,inf,8019,BRD3
402,DDT,no,no,inf,inf,1652,DDT
403,DDTL,no,no,inf,inf,100037417,DDTL
404,EIF2S3,no,yes,inf,inf,1968,EIF2S3
405,EIF2S3L,no,yes,inf,inf,255308,EIF2S3B
406,MOB1A,no,no,inf,inf,55233,MOB1A
407,MOB1B,no,no,inf,inf,92597,MOB1B
408,PCBP2,no,no,inf,inf,5094,PCBP2
409,PCBP3,no,no,inf,inf,54039,PCBP3
410,PRKX,yes,yes,inf,inf,5613,PRKX
411,PRKY,yes,yes,inf,inf,5616,PRKY
412,YTHDF3,no,no,inf,inf,253943,YTHDF3
413,YTHDF1,no,no,inf,inf,54915,YTHDF1

In [15]:
df1.to_csv('Klaeger(2017)_Science_processed.csv', index=False)

In [ ]:
df2 = pd.read_csv('Huang(2017)_eLife_Fig1source.csv')

In [30]:
## get official names and IDs

for name in df2['Kinase']:
    Entrez.email = 'bentyeh@gmail.com'
    handle = Entrez.esearch(db="gene", term='(' + name + '[gene]) AND (Homo sapiens[orgn]) AND alive[prop] NOT newentry[gene]')
    record_search = Entrez.read(handle)
    if len(record_search['IdList']) == 0:
        handle = Entrez.esearch(db="gene", term='(' + name.replace('-', '') + '[gene]) AND (Homo sapiens[orgn]) AND alive[prop] NOT newentry[gene]')
        record_search = Entrez.read(handle)
    if len(record_search['IdList']) == 1:
        handle = Entrez.esummary(db='gene', id=record_search['IdList'][0])
        record = Entrez.read(handle)
        df2.loc[df2['Kinase'] == name, 'id'] = record_search['IdList'][0]
        df2.loc[df2['Kinase'] == name, 'Name_official'] = record['DocumentSummarySet']['DocumentSummary'][0]['Name']
    else:
        flag_found = False
        for ID in record_search['IdList']:
            handle = Entrez.esummary(db='gene', id=ID)
            record = Entrez.read(handle)
            
            ## official symbol matches name
            if record['DocumentSummarySet']['DocumentSummary'][0]['Name'] == name:
                df2.loc[df2['Kinase'] == name, 'id'] = ID
                df2.loc[df2['Kinase'] == name, 'Name_official'] = name
                flag_found = True
                break
        
        if not flag_found:
            print(name + ' ' + ','.join(record_search['IdList']))

MPSK1
PKA
IR
IKK epsilon
CAMKK beta
CDK9-Cyclin T1
Aurora A
GSK3 beta
p38 delta
p38 beta
p38 alpha
p38 gamma
CK1 gamma 2
ABL 25,4547
TSSK1 83942,23752
CDK2-Cyclin A
PKB beta
AMPK (hum)
CK1 delta
CK2
Aurora B
TAK1 6885,7182
TAO1 57551,9344
PINK
AMPK 5562,5564,5563
EF2K

In [34]:
## manually fix names
df2.loc[df2['Kinase'] == 'MPSK1', 'id'] = '8576'
df2.loc[df2['Kinase'] == 'MPSK1', 'Name_official'] = 'STK16'

df2.loc[df2['Kinase'] == 'PKA', 'id'] = '5566'
df2.loc[df2['Kinase'] == 'PKA', 'Name_official'] = 'PRKACA'

df2.loc[df2['Kinase'] == 'IR', 'id'] = '' # unknown
df2.loc[df2['Kinase'] == 'IR', 'Name_official'] = '' # unknown

df2.loc[df2['Kinase'] == 'IKK epsilon', 'id'] = '9641' 
df2.loc[df2['Kinase'] == 'IKK epsilon', 'Name_official'] = 'IKBKE'

df2.loc[df2['Kinase'] == 'CAMKK beta', 'id'] = '10645'
df2.loc[df2['Kinase'] == 'CAMKK beta', 'Name_official'] = 'CAMKK2'

df2.loc[df2['Kinase'] == 'CDK9-Cyclin T1', 'id'] = '1025'
df2.loc[df2['Kinase'] == 'CDK9-Cyclin T1', 'Name_official'] = 'CDK9'

df2.loc[df2['Kinase'] == 'Aurora A', 'id'] = '6790'
df2.loc[df2['Kinase'] == 'Aurora A', 'Name_official'] = 'AURKA'

df2.loc[df2['Kinase'] == 'GSK3 beta', 'id'] = '2932'
df2.loc[df2['Kinase'] == 'GSK3 beta', 'Name_official'] = 'GSK3B'

df2.loc[df2['Kinase'] == 'p38 delta', 'id'] = '5603'
df2.loc[df2['Kinase'] == 'p38 delta', 'Name_official'] = 'MAPK13'

df2.loc[df2['Kinase'] == 'p38 beta', 'id'] = '5600'
df2.loc[df2['Kinase'] == 'p38 beta', 'Name_official'] = 'MAPK11'

df2.loc[df2['Kinase'] == 'p38 alpha', 'id'] = '1432'
df2.loc[df2['Kinase'] == 'p38 alpha', 'Name_official'] = 'MAPK14'

df2.loc[df2['Kinase'] == 'p38 gamma', 'id'] = '6300'
df2.loc[df2['Kinase'] == 'p38 gamma', 'Name_official'] = 'MAPK12'

df2.loc[df2['Kinase'] == 'CK1 gamma 2', 'id'] = '1455'
df2.loc[df2['Kinase'] == 'CK1 gamma 2', 'Name_official'] = 'CSNK1G2'

df2.loc[df2['Kinase'] == 'ABL', 'id'] = '25'
df2.loc[df2['Kinase'] == 'ABL', 'Name_official'] = 'ABL1'

df2.loc[df2['Kinase'] == 'TSSK1', 'id'] = '83942'
df2.loc[df2['Kinase'] == 'TSSK1', 'Name_official'] = 'TSSK1B'

df2.loc[df2['Kinase'] == 'CDK2-Cyclin A', 'id'] = '1017'
df2.loc[df2['Kinase'] == 'CDK2-Cyclin A', 'Name_official'] = 'CDK2'

df2.loc[df2['Kinase'] == 'PKB beta', 'id'] = '208'
df2.loc[df2['Kinase'] == 'PKB beta', 'Name_official'] = 'AKT2'

df2.loc[df2['Kinase'] == 'AMPK (hum)', 'id'] = '5562'
df2.loc[df2['Kinase'] == 'AMPK (hum)', 'Name_official'] = 'PRKAA1'

df2.loc[df2['Kinase'] == 'CK1 delta', 'id'] = '1453'
df2.loc[df2['Kinase'] == 'CK1 delta', 'Name_official'] = 'CSNK1D'

df2.loc[df2['Kinase'] == 'CK2', 'id'] = '1457'
df2.loc[df2['Kinase'] == 'CK2', 'Name_official'] = 'CSNK2A1'

df2.loc[df2['Kinase'] == 'Aurora B', 'id'] = '9212'
df2.loc[df2['Kinase'] == 'Aurora B', 'Name_official'] = 'AURKB'

df2.loc[df2['Kinase'] == 'TAK1', 'id'] = '6885'
df2.loc[df2['Kinase'] == 'TAK1', 'Name_official'] = 'MAP3K7'

df2.loc[df2['Kinase'] == 'TAO1', 'id'] = '57551'
df2.loc[df2['Kinase'] == 'TAO1', 'Name_official'] = 'TAOK1'

df2.loc[df2['Kinase'] == 'PINK', 'id'] = '65018' 
df2.loc[df2['Kinase'] == 'PINK', 'Name_official'] = 'PINK1'

df2.loc[df2['Kinase'] == 'AMPK', 'id'] = '65248' # rat
df2.loc[df2['Kinase'] == 'AMPK', 'Name_official'] = 'Prkaa1' # rat

df2.loc[df2['Kinase'] == 'EF2K', 'id'] = '29904' # based on UniProt
df2.loc[df2['Kinase'] == 'EF2K', 'Name_official'] = 'EEF2K' # based on UniProt

In [36]:
print(df2['Name_official'][df2['Name_official'] != df2['Kinase']])
print(df2['Kinase'][df2['Name_official'] != df2['Kinase']])
df2.index[df2.duplicated() == True]

1         EPHB1
4         STK16
5         EPHB4
7        PRKACA
9
11        STK26
12        MKNK2
13        IKBKE
14       CAMKK2
15       MAPK10
16         CDK9
17        AURKA
18        STK24
19         PTK6
20        IGF1R
21        MAPK8
22        GSK3B
24       MAPK13
25        MAPK9
26     MAPKAPK2
29       MAP3K5
32        MKNK1
35        EPHB3
36        ERBB4
37       MAPK11
38      RPS6KB1
42        FGFR1
43        PRKCZ
45         PKN2
46        CHEK1
         ...
77       MAP2K1
78        EPHA2
81      MAP3K11
82        NTRK1
84          SRC
86      RPS6KA1
89         FLT1
90         NEK2
91         STK3
96          LCK
97       MAP3K9
98        ROCK2
99        CHEK2
100      PRKAA1
101       MAPK3
102      CSNK1D
106      MAPK15
107     CSNK2A1
109       AURKB
111      MAP3K7
113      MAP2K6
114       STK11
118      MAP3K1
119       TAOK1
128       PINK1
129       MAPK1
131        MYLK
135      Prkaa1
136    MAPKAPK3
140       EEF2K
Name: Name_official, Length: 81, dtype: object
1              EPH-B1
4               MPSK1
5              EPH-B4
7                 PKA
9                  IR
11               MST4
12               MNK2
13        IKK epsilon
14         CAMKK beta
15               JNK3
16     CDK9-Cyclin T1
17           Aurora A
18               MST3
19                BRK
20             IGF-1R
21               JNK1
22          GSK3 beta
24          p38 delta
25               JNK2
26          MAPKAP-K2
29               ASK1
32               MNK1
35             EPH-B3
36               HER4
37           p38 beta
38               S6K1
42             FGF-R1
43           PKC zeta
45               PRK2
46               CHK1
            ...
77               MKK1
78             EPH-A2
81               MLK3
82               TrkA
84                Src
86               RSK1
89             VEGFR1
90              NEK2a
91               MST2
96                Lck
97               MLK1
98             ROCK 2
99               CHK2
100        AMPK (hum)
101              ERK1
102         CK1 delta
106              ERK8
107               CK2
109          Aurora B
111              TAK1
113              MKK6
114              LKB1
118             MEKK1
119              TAO1
128              PINK
129              ERK2
131            SmMLCK
135              AMPK
136         MAPKAP-K3
140              EF2K
Name: Kinase, Length: 81, dtype: object

Int64Index([], dtype='int64')

In [27]:
df2

,Kinase,OTSSP167 (1 μM) % AR,OTSSP167 (1 μM) SD,HTH-01-091 (1 μM) % AR,HTH-01-091 (1 μM) SD,Diff,SD Diff,id,Name_official
0,BRSK2,2,2,125.0,2.0,123.0,2.828427,NaN,NaN
1,EPH-B1,11,2,122.0,7.0,111.0,7.280110,NaN,NaN
2,EIF2AK3,7,0,114.0,18.0,107.0,18.000000,NaN,NaN
3,SYK,7,1,112.0,4.0,105.0,4.123106,NaN,NaN
4,MPSK1,5,0,107.0,11.0,102.0,11.000000,8576,STK16
5,EPH-B4,2,0,104.0,17.0,102.0,17.000000,NaN,NaN
6,ULK2,4,0,105.0,15.0,101.0,15.000000,NaN,NaN
7,PKA,12,0,112.0,24.0,100.0,24.000000,5566,PRKACA
8,PDK1,4,1,102.0,0.0,98.0,1.000000,NaN,NaN
9,IR,2,0,100.0,3.0,98.0,3.000000,,
10,PLK1,3,0,95.0,0.0,92.0,0.000000,NaN,NaN
11,MST4,5,1,96.0,3.0,91.0,3.162278,NaN,NaN
12,MNK2,13,2,103.0,2.0,90.0,2.828427,NaN,NaN
13,IKK epsilon,2,0,92.0,5.0,90.0,5.000000,9641,IKBKE
14,CAMKK beta,2,1,91.0,54.0,89.0,54.009258,10645,CAMKK2
15,JNK3,13,1,101.0,1.0,88.0,1.414214,NaN,NaN
16,CDK9-Cyclin T1,4,1,92.0,4.0,88.0,4.123106,1025,CDK9
17,Aurora A,10,1,98.0,7.0,88.0,7.071068,6790,AURKA
18,MST3,5,0,93.0,1.0,88.0,1.000000,NaN,NaN
19,BRK,8,3,96.0,4.0,88.0,5.000000,NaN,NaN
20,IGF-1R,4,0,92.0,2.0,88.0,2.000000,NaN,NaN
21,JNK1,10,1,97.0,3.0,87.0,3.162278,NaN,NaN
22,GSK3 beta,0,0,86.0,4.0,86.0,4.000000,2932,GSK3B
23,TGFBR1,16,1,102.0,10.0,86.0,10.049876,NaN,NaN
24,p38 delta,4,1,89.0,0.0,85.0,1.000000,5603,MAPK13
25,JNK2,16,1,100.0,3.0,84.0,3.162278,NaN,NaN
26,MAPKAP-K2,14,4,98.0,10.0,84.0,10.770330,NaN,NaN
27,SRPK1,10,1,94.0,13.0,84.0,13.038405,NaN,NaN
28,BRSK1,2,0,85.0,9.0,83.0,9.000000,NaN,NaN
29,ASK1,7,2,90.0,1.0,83.0,2.236068,NaN,NaN
...,...,...,...,...,...,...,...,...,...
111,TAK1,1,0,22.0,0.0,21.0,0.000000,6885,MAP3K7
112,ZAP70,78,13,98.0,15.0,20.0,19.849433,NaN,NaN
113,MKK6,80,2,99.0,10.0,19.0,10.198039,NaN,NaN
114,LKB1,83,8,100.0,11.0,17.0,13.601471,NaN,NaN
115,DYRK2,1,0,18.0,1.0,17.0,1.000000,NaN,NaN
116,STK33,10,1,26.0,1.0,16.0,1.414214,NaN,NaN
117,GCK,0,0,16.0,1.0,16.0,1.000000,NaN,NaN
118,MEKK1,96,19,111.0,8.0,15.0,20.615528,NaN,NaN
119,TAO1,3,0,18.0,1.0,15.0,1.000000,57551,TAOK1
120,PDGFRA,20,23,35.0,4.0,15.0,23.345235,NaN,NaN
121,DAPK1,1,0,15.0,1.0,14.0,1.000000,NaN,NaN
122,PAK2,74,10,88.0,24.0,14.0,26.000000,NaN,NaN
123,YES1,18,9,32.0,0.0,14.0,9.000000,NaN,NaN
124,HIPK2,2,2,13.0,6.0,11.0,6.324555,NaN,NaN
125,CLK2,0,0,11.0,0.0,11.0,0.000000,NaN,NaN
126,MELK,6,1,13.0,0.0,7.0,1.000000,NaN,NaN
127,DYRK3,1,1,5.0,1.0,4.0,1.414214,NaN,NaN
128,PINK,89,13,93.0,2.0,4.0,13.152946,65018,PINK1
129,ERK2,90,5,93.0,7.0,3.0,8.602325,NaN,NaN
130,NEK6,92,3,95.0,8.0,3.0,8.544004,NaN,NaN
131,SmMLCK,6,3,8.0,1.0,2.0,3.162278,NaN,NaN
132,PIM2,0,0,2.0,0.0,2.0,0.000000,NaN,NaN
133,PIM3,1,0,1.0,1.0,0.0,1.000000,NaN,NaN
134,RIPK2,4,0,3.0,1.0,-1.0,1.000000,NaN,NaN
135,AMPK,2,0,NaN,NaN,NaN,NaN,65248,Prkaa1
136,MAPKAP-K3,94,0,89.0,5.0,-5.0,5.000000,NaN,NaN
137,TTBK2,91,8,86.0,3.0,-5.0,8.544004,NaN,NaN
138,PIM1,10,1,1.0,0.0,-9.0,1.000000,NaN,NaN
139,WNK1,111,5,101.0,4.0,-10.0,6.403124,NaN,NaN
140,EF2K,114,5,85.0,13.0,-29.0,13.928388,29904,EEF2K

In [37]:
df2.to_csv('Huang(2017)_eLife_Fig1source_processed.csv', index=False)

In [2]:
df3 = pd.read_csv('Annes(2018)_Kinome_1081.csv')
df4 = pd.read_csv('Annes(2018)_Kinome_1285.csv')

In [3]:
# average if same gene symbol

for gene in df3['Entrez Gene Symbol']:
    data = df3.loc[df3['Entrez Gene Symbol'] == gene, :]
    if data.shape[0] > 1:
        series = data.iloc[0].squeeze()
        series['Percent Control'] = data['Percent Control'].mean()
        series['DiscoveRx Gene Symbol'] = gene + '_mean'
        df3.drop(df3.index[df3['Entrez Gene Symbol'] == gene], axis=0, inplace=True)
        df3 = df3.append(series, ignore_index=True)

df3.to_csv('Annes(2018)_Kinome_1081_mean.csv', index=False)

d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
# average if same gene symbol

for gene in df4['Entrez Gene Symbol']:
    data = df4.loc[df4['Entrez Gene Symbol'] == gene, :]
    if data.shape[0] > 1:
        series = data.iloc[0].squeeze()
        series['Percent Control'] = data['Percent Control'].mean()
        series['DiscoveRx Gene Symbol'] = gene + '_mean'
        df4.drop(df4.index[df4['Entrez Gene Symbol'] == gene], axis=0, inplace=True)
        df4 = df4.append(series, ignore_index=True)

df4.to_csv('Annes(2018)_Kinome_1285_mean.csv', index=False)

d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
df5 = pd.read_csv('Annes(2018)_Kinome500_1285.csv')

for gene in df5['Entrez Gene Symbol']:
    data = df5.loc[df5['Entrez Gene Symbol'] == gene, :]
    if data.shape[0] > 1:
        series = data.iloc[0].squeeze()
        series['Percent Control'] = data['Percent Control'].mean()
        series['DiscoveRx Gene Symbol'] = gene + '_mean'
        df5.drop(df5.index[df5['Entrez Gene Symbol'] == gene], axis=0, inplace=True)
        df5 = df5.append(series, ignore_index=True)

df5.to_csv('Annes(2018)_Kinome500_1285_mean.csv', index=False)

d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
d:\documents\research\annes\env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy