In [1]:
# Import all packages
import os
from multiprocessing.pool import ThreadPool
import numpy as np
import pandas as pd
from Bio import Entrez
from IPython.display import display

In [2]:
# Global parameters / values
data_dir = "../data/"
dataAux_dir = "../data_aux/"
Klaeger_filename = "Klaeger.csv"
Huang_filename = "Huang.csv"
Annes100_filename = "Annes100.csv"
Annes500_filename = "Annes500.csv"

EntrezEmail = "example@gmail.com"

# Name of column of official gene symbols to be added to data frames
geneSymbolColumn = "GeneSymbol"

# Number of threads to use for looking up official gene symbols via Entrez
# - Possible values
#     None: uses a ThreadPool of a default number of threads as returned by os.cpu_count()
#     1: uses main thread for lookup, no ThreadPool
#     > 1: Uses a ThreadPool of nThreads
# - If too large (say, > 50), may run into server errors such as "HTTP Error 429: Too Many Requests"
nThreads = 50

In [3]:
# Gene symbol lookup functions

def searchGeneNames(term, email, useSingleIndirectMatch = True):
    '''
    Search official human gene names and aliases in NCBI Gene database for a match to term, returning offical names and IDs.
    Dependencies: Biopython
    
    Args:
    - term: str
        gene name / alias
    - email: str
        email registered with NCBI
    - useSingleIndirectMatch
        If the Entrez Gene Database query returns only 1 NCBI Gene ID, even if the term does not exactly match the gene symbol
        or an alias, use the match.
    
    Returns: dict: str -> list
        "names": list of matched official gene name(s)
        "ids": list of NCBI Gene IDs corresponding to matched official gene name(s)
    '''

    names, ids = [], []
    Entrez.email = email
    handle = Entrez.esearch(db="gene", term='(' + term + '[gene]) AND (Homo sapiens[orgn]) AND alive[prop] NOT newentry[gene]')
    idList = Entrez.read(handle)['IdList']
    for id in idList:
        handle = Entrez.esummary(db='gene', id=id)
        record = Entrez.read(handle)
        name = record['DocumentSummarySet']['DocumentSummary'][0]['Name']
        aliases = record['DocumentSummarySet']['DocumentSummary'][0]['OtherAliases'].split(', ')
        if (term in [name] + aliases):
            names.append(name)
            ids.append(id)
    if useSingleIndirectMatch:
        if len(names) == 0 and len(idList) == 1:
            ids.append(idList[0])
            handle = Entrez.esummary(db='gene', id=id)
            record = Entrez.read(handle)
            names.append(record['DocumentSummarySet']['DocumentSummary'][0]['Name'])
    return({"names": names, "ids": ids})

def geneSymbolLookupFromSeries(series, email):
    '''
    Search official human gene names and aliases in NCBI Gene database for the value in 'Name' index of given pandas Series.
    
    Args
    - series: pandas.Series
        must have 'Name' index
    - email: str
        email registered with NCBI
    
    Returns: str
      If no match found, returns the empty string. Otherwise, returns the first matched official gene symbol.
    '''
    
    term = series['Name']
    match = searchGeneNames(term, email)
    if len(match["names"]) == 0:
        return("")
    if (term in match["names"]):
        return(term)
    return(match["names"][0])

def multiThreadedSearchGeneNames(terms, email, nThreads = None):
    '''
    Search official human gene names and aliases in NCBI Gene database for terms.
    
    Args
    - terms: list of str
        terms to lookup
    - email: str
        email registered with NCBI
    - nThreads: int
        None: Uses a ThreadPool of a default number of threads as returned by os.cpu_count()
        1+: Uses a ThreadPool of nThreads
    
    Returns: list of str
      Where no matches found, returns the empty string. Otherwise, returns the first matched official gene symbol.
    '''
    
    dict_results = []
    gene_symbols = []
    pool = ThreadPool(nThreads)
    print("Using {:d} threads...".format(pool._processes))
    for i in range(len(terms)):
        dict_results.append(pool.apply_async(searchGeneNames, (terms[i], email)))
    pool.close()
    pool.join()
    for i in range(len(terms)):
        match = dict_results[i].get()
        if len(match["names"]) == 0:
            gene_symbols.append("")
        elif terms[i] in match["names"]:
            gene_symbols.append(terms[i])
        else:
            gene_symbols.append(match["names"][0])
    return(gene_symbols)

## Process data from Klaeger et al.

In [4]:
# Parameters
# - highConfidenceOnly: logical
#     Keep only "high confidence" protein-drug interactions.
#       "A protein was considered a high-confidence target if the binding curve showed a sigmoidal shape
#        with a dose-dependent decrease in binding to the Kinobeads." (Klaeger et al., Supplementary Materials)
# - na_values_klaeger: list of str
#     Values from CSV file to be read in as np.nan
# - dtype_klaeger: dict: str -> dtype
#     dtypes of columns of data

highConfidenceOnly = True
na_values_klaeger = ["n.d."]
dtype_klaeger = {'Name': 'str', 'OTSSP167': np.float64, 'CC401': np.float64}

In [5]:
# Read in data
# - cannot set dtype of columns yet because of string "n.i." (not inhibited) values in OTSSP167 and CC401 columns,
#   which should be of dtype np.float
df1 = pd.read_csv(os.path.join(data_dir, Klaeger_filename), na_values=na_values_klaeger)

In [6]:
# Remove rows (targets) where values are NA
df1.dropna(axis=0, how='any', inplace=True)

In [7]:
# Remove low-confidence values if specified
if highConfidenceOnly:
    df1.drop(df1.index[df1['OTSSP167'].str.contains('\(') == True], axis=0, inplace=True)
    df1.drop(df1.index[df1['CC401'].str.contains('\(') == True], axis=0, inplace=True)
else:
    df1['OTSSP167'] = df1['OTSSP167'].str.strip('()')
    df1['CC401'] = df1['CC401'].str.strip('()')

In [8]:
# Convert "n.i." (not inhibited) values to np.inf
df1.replace('n.i.', np.inf, inplace=True)
df1 = df1.astype(dtype_klaeger)

In [9]:
# Split combined target names into individual target names with their own row
# - Ex: 
#             Name  CC401  OTSSP167          Name  CC401  OTSSP167
#  CSNK2A1;CSNK2A3  747.0      11.0  -->  CSNK2A1  747.0      11.0
#                                         CSNK2A3  747.0      11.0
for name in df1.loc[:,'Name']:
    names = name.split(';')
    if (len(names) > 1):
        series = df1.loc[df1.index[df1['Name'] == name]].squeeze()
        for sub_name in names:
            series['Name'] = sub_name
            df1 = df1.append(series, ignore_index=True)
        df1.drop(df1.index[df1['Name'] == name], axis=0, inplace=True)
df1.reset_index(drop=True, inplace=True)

In [10]:
# Add official gene names as a new column
if (nThreads is None) or nThreads > 1:
    df1[geneSymbolColumn] = multiThreadedSearchGeneNames(df1['Name'].tolist(), EntrezEmail, nThreads)
else:
    df1[geneSymbolColumn] = df1.apply(geneSymbolLookupFromSeries, 1, email = EntrezEmail)

# Show rows where no official gene symbol was found
display(df1.loc[df1[geneSymbolColumn] == ""])

Using 50 threads...

       Name   CC401  OTSSP167 GeneSymbol
267  Q6ZSR9  2529.0     155.0

In [11]:
# For genes with missing official gene symbols, manually add official gene symbols
df1.loc[df1['Name'] == 'Q6ZSR9', geneSymbolColumn] = 'Q6ZSR9'

In [12]:
# Sort by official gene names
df1.sort_values(by=geneSymbolColumn, inplace=True)
df1.reset_index(drop=True, inplace=True)

# Reorder columns
df1 = df1[[geneSymbolColumn, "Name", "OTSSP167", "CC401"]]

In [13]:
# Quick verification of gene symbol lookups

# Display rows where official gene symbol differed from original gene name
display(df1[df1['Name'] != df1[geneSymbolColumn]])

# Confirm there are no duplicate genes (rows)
print("Number of duplicated rows: " + str(sum(df1.duplicated() == True)))

    GeneSymbol      Name    OTSSP167  CC401
81       COQ8A     ADCK3         inf    inf
116    EIF2S3B   EIF2S3L         inf    inf
150       GRK2    ADRBK1         inf    inf
186    MAP3K20       ZAK  101.000000    inf
218      MTREX   SKIV2L2         inf    inf
338      SRPRA      SRPR         inf    inf
359     TMEM94  KIAA0195         inf    inf

Number of duplicated rows: 0

In [14]:
display(df1)

    GeneSymbol      Name     OTSSP167        CC401
0         AAK1      AAK1   172.000000  2608.000000
1         ABL1      ABL1   280.000000          inf
2         ABL2      ABL2   187.000000          inf
3       ACAD10    ACAD10          inf          inf
4        ACOX3     ACOX3          inf          inf
5         ACP1      ACP1          inf          inf
6        ACTR2     ACTR2          inf          inf
7        ACTR3     ACTR3          inf          inf
8        ACVR1     ACVR1   222.000000          inf
9       ACVR1B    ACVR1B   195.000000          inf
10      ACVR2B    ACVR2B          inf          inf
11       ADCK1     ADCK1          inf          inf
12         ADK       ADK          inf          inf
13        ADSL      ADSL          inf          inf
14        AFF1      AFF1          inf          inf
15        AFF4      AFF4          inf          inf
16       AIMP1     AIMP1          inf          inf
17         AK2       AK2          inf          inf
18        AKT1      AKT1          inf          inf
19        AKT2      AKT2          inf          inf
20        AKT3      AKT3          inf          inf
21       AP1B1     AP1B1          inf          inf
22       AP1G1     AP1G1          inf          inf
23       AP2M1     AP2M1          inf          inf
24        APRT      APRT          inf          inf
25        ARAF      ARAF          inf          inf
26       AURKA     AURKA   194.000000          inf
27       AURKB     AURKB   126.000000          inf
28        AZI2      AZI2   500.000000          inf
29         BCR       BCR    14.000000          inf
..         ...       ...          ...          ...
352       TBK1      TBK1   452.000000          inf
353     TBKBP1    TBKBP1   870.000000          inf
354        TEC       TEC          inf          inf
355     TEX264    TEX264          inf          inf
356     TGFBR1    TGFBR1   149.000000          inf
357     TGFBR2    TGFBR2          inf          inf
358     TMEM33    TMEM33          inf          inf
359     TMEM94  KIAA0195          inf          inf
360       TNK1      TNK1  1778.000000          inf
361       TNK2      TNK2          inf          inf
362      TOP2A     TOP2A          inf          inf
363      TOP2B     TOP2B          inf          inf
364     TP53RK    TP53RK   311.000000          inf
365      TPRKB     TPRKB          inf          inf
366       TUFM      TUFM          inf          inf
367        TXN       TXN          inf          inf
368       TYK2      TYK2          inf          inf
369     UBAP2L    UBAP2L          inf          inf
370      UBE3C     UBE3C          inf          inf
371      UGGT1     UGGT1          inf          inf
372       ULK1      ULK1          inf          inf
373     UNC119    UNC119    99.000000          inf
374      VDAC3     VDAC3          inf          inf
375       WEE1      WEE1          inf          inf
376       YARS      YARS          inf          inf
377       YES1      YES1          inf          inf
378     YTHDF1    YTHDF1          inf          inf
379     YTHDF3    YTHDF3          inf          inf
380      YWHAG     YWHAG          inf          inf
381      YWHAQ     YWHAQ          inf          inf

[382 rows x 4 columns]

In [15]:
df1.to_csv(os.path.join(dataAux_dir, Klaeger_filename), index=False)

## Process data from Huang et al.

In [16]:
df2 = pd.read_csv(os.path.join(data_dir, Huang_filename))

In [17]:
# Remove rows (targets) where values are NA
df2.dropna(axis=0, how='any', inplace=True)

In [18]:
# Add official gene names as a new column
if (nThreads is None) or nThreads > 1:
    df2[geneSymbolColumn] = multiThreadedSearchGeneNames(df2['Name'].tolist(), EntrezEmail, nThreads)
else:
    df2[geneSymbolColumn] = df2.apply(geneSymbolLookupFromSeries, 1, email = EntrezEmail)

# Show rows where no official gene symbol was found
display(df2.loc[df2[geneSymbolColumn] == ""])

Using 50 threads...

               Name  OTSSP167  HTH01091 GeneSymbol
9         p38 alpha        10      84.0
10         p38 beta         6      85.0
11        p38 gamma        12      86.0
12        p38 delta         4      89.0
18         PKB beta        24      88.0
21              PKA        12     112.0
35       CAMKK beta         2      91.0
42        GSK3 beta         0      86.0
43    CDK2-Cyclin A         2      67.0
44   CDK9-Cyclin T1         4      92.0
46         Aurora A        10      98.0
47         Aurora B        14      35.0
51       AMPK (hum)         1      34.0
63      CK1 gamma 2        10      80.0
64        CK1 delta         6      36.0
65              CK2         1      23.0
74      IKK epsilon         2      92.0
80             EF2K       114      85.0
109           MPSK1         5     107.0
125          EPH-A2         7      66.0
126          EPH-A4         1      63.0
127          EPH-B1        11     122.0
128          EPH-B2         1      70.0
129          EPH-B3        18      99.0
130          EPH-B4         2     104.0
131          FGF-R1         4      82.0
133          IGF-1R         4      92.0
134              IR         2     100.0
140            PINK        89      93.0

In [19]:
# For genes with missing official gene symbols, manually add official gene symbols
df2.loc[df2['Name'] == 'p38 alpha', geneSymbolColumn] = 'MAPK14'
df2.loc[df2['Name'] == 'p38 beta', geneSymbolColumn] = 'MAPK11'
df2.loc[df2['Name'] == 'p38 gamma', geneSymbolColumn] = 'MAPK12'
df2.loc[df2['Name'] == 'p38 delta', geneSymbolColumn] = 'MAPK13'
df2.loc[df2['Name'] == 'PKB beta', geneSymbolColumn] = 'AKT2'
df2.loc[df2['Name'] == 'PKA', geneSymbolColumn] = 'PRKACA'
df2.loc[df2['Name'] == 'CAMKK beta', geneSymbolColumn] = 'CAMKK2'
df2.loc[df2['Name'] == 'GSK3 beta', geneSymbolColumn] = 'GSK3B'
df2.loc[df2['Name'] == 'CDK2-Cyclin A', geneSymbolColumn] = 'CDK2'
df2.loc[df2['Name'] == 'CDK9-Cyclin T1', geneSymbolColumn] = 'CDK9'
df2.loc[df2['Name'] == 'Aurora A', geneSymbolColumn] = 'AURKA'
df2.loc[df2['Name'] == 'Aurora B', geneSymbolColumn] = 'AURKB'
df2.loc[df2['Name'] == 'AMPK (hum)', geneSymbolColumn] = 'PRKAA1'
df2.loc[df2['Name'] == 'CK1 gamma 2', geneSymbolColumn] = 'CSNK1G2'
df2.loc[df2['Name'] == 'CK1 delta', geneSymbolColumn] = 'CSNK1D'
df2.loc[df2['Name'] == 'CK2', geneSymbolColumn] = 'CSNK2A1'
df2.loc[df2['Name'] == 'IKK epsilon', geneSymbolColumn] = 'IKBKE'
df2.loc[df2['Name'] == 'EF2K', geneSymbolColumn] = 'EEF2K' # based on UniProt
df2.loc[df2['Name'] == 'MPSK1', geneSymbolColumn] = 'STK16'
df2.loc[df2['Name'] == 'EPH-A2', geneSymbolColumn] = 'EPHA2'
df2.loc[df2['Name'] == 'EPH-A4', geneSymbolColumn] = 'EPHA4'
df2.loc[df2['Name'] == 'EPH-B1', geneSymbolColumn] = 'EPHB1'
df2.loc[df2['Name'] == 'EPH-B2', geneSymbolColumn] = 'EPHB2'
df2.loc[df2['Name'] == 'EPH-B3', geneSymbolColumn] = 'EPHB3'
df2.loc[df2['Name'] == 'EPH-B4', geneSymbolColumn] = 'EPHB4'
df2.loc[df2['Name'] == 'FGF-R1', geneSymbolColumn] = 'FGFR1'
df2.loc[df2['Name'] == 'IGF-1R', geneSymbolColumn] = 'IGF1R'
df2.loc[df2['Name'] == 'IR', geneSymbolColumn] = '' # unknown
df2.loc[df2['Name'] == 'PINK', geneSymbolColumn] = 'PINK1'

In [20]:
# Sort by official gene names
df2.sort_values(by=geneSymbolColumn, inplace=True)
df2.reset_index(drop=True, inplace=True)

# Reorder columns
df2 = df2[[geneSymbolColumn, "Name", "OTSSP167", "HTH01091"]]

In [21]:
# Quick verification of gene symbol lookups

# Display rows where official gene symbol differed from original gene name
with pd.option_context('display.max_rows', None):
    display(df2[df2['Name'] != df2[geneSymbolColumn]])

# Confirm there are no duplicate genes (rows)
print("Number of duplicated rows: " + str(sum(df2.duplicated() == True)))

    GeneSymbol            Name  OTSSP167  HTH01091
0                           IR         2     100.0
1         ABL1             ABL         1      70.0
2         AKT1       PKB alpha        28     101.0
3         AKT2        PKB beta        24      88.0
4        AURKA        Aurora A        10      98.0
5        AURKB        Aurora B        14      35.0
10      CAMKK2      CAMKK beta         2      91.0
11        CDK2   CDK2-Cyclin A         2      67.0
12        CDK9  CDK9-Cyclin T1         4      92.0
13       CHEK1            CHK1        11      86.0
14       CHEK2            CHK2         1      34.0
17      CSNK1D       CK1 delta         6      36.0
18     CSNK1G2     CK1 gamma 2        10      80.0
19     CSNK2A1             CK2         1      23.0
25       EEF2K            EF2K       114      85.0
27       EPHA2          EPH-A2         7      66.0
28       EPHA4          EPH-A4         1      63.0
29       EPHB1          EPH-B1        11     122.0
30       EPHB2          EPH-B2         1      70.0
31       EPHB3          EPH-B3        18      99.0
32       EPHB4          EPH-B4         2     104.0
33       ERBB4            HER4         4      84.0
34       FGFR1          FGF-R1         4      82.0
35        FLT1          VEGFR1         1      43.0
37       GSK3B       GSK3 beta         0      86.0
41       IGF1R          IGF-1R         4      92.0
42       IKBKB        IKK beta        41     104.0
43       IKBKE     IKK epsilon         2      92.0
44       INSRR             IRR         6      79.0
48         LCK             Lck         0      35.0
49      MAP2K1            MKK1         3      62.0
50      MAP2K2            MKK2        10      75.0
51      MAP2K6            MKK6        80      99.0
52      MAP3K1           MEKK1        96     111.0
53     MAP3K11            MLK3         2      54.0
54      MAP3K5            ASK1         7      90.0
55      MAP3K7            TAK1         1      22.0
56      MAP3K9            MLK1         1      35.0
59       MAPK1            ERK2        90      93.0
60      MAPK10            JNK3        13     101.0
61      MAPK11        p38 beta         6      85.0
62      MAPK12       p38 gamma        12      86.0
63      MAPK13       p38 delta         4      89.0
64      MAPK14       p38 alpha        10      84.0
65      MAPK15            ERK8         1      24.0
66       MAPK3            ERK1        88     119.0
67       MAPK7            ERK5         4      70.0
68       MAPK8            JNK1        10      97.0
69       MAPK9            JNK2        16     100.0
70    MAPKAPK2       MAPKAP-K2        14      98.0
71    MAPKAPK3       MAPKAP-K3        94      89.0
72    MAPKAPK5            PRAK        16      78.0
79       MKNK1            MNK1        28     109.0
80       MKNK2            MNK2        13     103.0
81        MYLK          SmMLCK         6       8.0
82        NEK2           NEK2a        59     100.0
84       NTRK1            TrkA         1      53.0
93       PHKA2             PHK         3      74.0
97       PINK1            PINK        89      93.0
99        PKN2            PRK2         2      77.0
101     PRKAA1      AMPK (hum)         1      34.0
102     PRKACA             PKA        12     112.0
103      PRKCA       PKC alpha         7      79.0
104      PRKCG       PKC gamma         1      71.0
105      PRKCZ        PKC zeta        19      96.0
106       PTK6             BRK         8      96.0
108      ROCK2          ROCK 2        49      82.0
109    RPS6KA1            RSK1         3      48.0
110    RPS6KA3            RSK2         1      62.0
111    RPS6KA5            MSK1         5      65.0
112    RPS6KB1            S6K1         2      81.0
116        SRC             Src         5      54.0
118      STK11            LKB1        83     100.0
119      STK16           MPSK1         5     107.0
120      STK24            MST3         5      93.0
121      STK26            MST4         5      96.0
122       STK3            MST2         7      45.0
125      TAOK1            TAO1         3      18.0
127        TEK            TIE2         3      71.0
131     TSSK1B           TSSK1         1      68.0

Number of duplicated rows: 0

In [22]:
display(df2)

    GeneSymbol            Name  OTSSP167  HTH01091
0                           IR         2     100.0
1         ABL1             ABL         1      70.0
2         AKT1       PKB alpha        28     101.0
3         AKT2        PKB beta        24      88.0
4        AURKA        Aurora A        10      98.0
5        AURKB        Aurora B        14      35.0
6        BRSK1           BRSK1         2      85.0
7        BRSK2           BRSK2         2     125.0
8          BTK             BTK         7      45.0
9        CAMK1           CAMK1        15      93.0
10      CAMKK2      CAMKK beta         2      91.0
11        CDK2   CDK2-Cyclin A         2      67.0
12        CDK9  CDK9-Cyclin T1         4      92.0
13       CHEK1            CHK1        11      86.0
14       CHEK2            CHK2         1      34.0
15        CLK2            CLK2         0      11.0
16         CSK             CSK         9      76.0
17      CSNK1D       CK1 delta         6      36.0
18     CSNK1G2     CK1 gamma 2        10      80.0
19     CSNK2A1             CK2         1      23.0
20       DAPK1           DAPK1         1      15.0
21        DDR2            DDR2         0      44.0
22      DYRK1A          DYRK1A         1      23.0
23       DYRK2           DYRK2         1      18.0
24       DYRK3           DYRK3         1       5.0
25       EEF2K            EF2K       114      85.0
26     EIF2AK3         EIF2AK3         7     114.0
27       EPHA2          EPH-A2         7      66.0
28       EPHA4          EPH-A4         1      63.0
29       EPHB1          EPH-B1        11     122.0
..         ...             ...       ...       ...
110    RPS6KA3            RSK2         1      62.0
111    RPS6KA5            MSK1         5      65.0
112    RPS6KB1            S6K1         2      81.0
113       SGK1            SGK1        12      72.0
114       SIK2            SIK2         2      79.0
115       SIK3            SIK3         4      83.0
116        SRC             Src         5      54.0
117      SRPK1           SRPK1        10      94.0
118      STK11            LKB1        83     100.0
119      STK16           MPSK1         5     107.0
120      STK24            MST3         5      93.0
121      STK26            MST4         5      96.0
122       STK3            MST2         7      45.0
123      STK33           STK33        10      26.0
124        SYK             SYK         7     112.0
125      TAOK1            TAO1         3      18.0
126       TBK1            TBK1         6      88.0
127        TEK            TIE2         3      71.0
128      TESK1           TESK1        51      95.0
129     TGFBR1          TGFBR1        16     102.0
130       TLK1            TLK1        58      95.0
131     TSSK1B           TSSK1         1      68.0
132      TTBK1           TTBK1        82     103.0
133      TTBK2           TTBK2        91      86.0
134        TTK             TTK         3      53.0
135       ULK1            ULK1        32      93.0
136       ULK2            ULK2         4     105.0
137       WNK1            WNK1       111     101.0
138       YES1            YES1        18      32.0
139      ZAP70           ZAP70        78      98.0

[140 rows x 4 columns]

In [23]:
df2.to_csv(os.path.join(dataAux_dir, Huang_filename), index=False)

## Process data from Annes et al.

In [24]:
# Parameters
# - condense_func: function
#     function condense values of multiple variants (different phosphorylation states, mutants) of the same kinase
condense_func = np.mean

In [25]:
df3 = pd.read_csv(os.path.join(data_dir, Annes100_filename))
df4 = pd.read_csv(os.path.join(data_dir, Annes500_filename))

In [26]:
# Remove rows (targets) where values are NA
df3.dropna(axis=0, how='any', inplace=True)
df4.dropna(axis=0, how='any', inplace=True)

In [27]:
def condenseDuplicatesByKey(df, keyCol, valueCol, func):
    '''
    Condense duplicate rows (based on the keyCol column) by applying a specified function to elements in the valueCol column.
    
    Args
    - df: pandas.DataFrame
    - keyCol: str
        column in which to look for duplicates
    - valueCol: str
        name of column of values to condense
    - func: function
        function to apply to duplicate values. Must take a list and return a single element
    
    Return: pandas.DataFrame
    '''
    for key in df[keyCol]:
        data = df[df[keyCol] == key]
        if data.shape[0] > 1:
            series = data.iloc[0,:].copy() # deep copy to avoid error of assigning value (next line) to a view of slice from df
            series[valueCol] = func(data[valueCol])
            df.drop(df.index[df[keyCol] == key], axis=0, inplace=True)
            df = df.append(series, ignore_index=True)
    return(df)

In [28]:
df3 = condenseDuplicatesByKey(df3, "Name", "OTSSP167", condense_func)
df4 = condenseDuplicatesByKey(df4, "Name", "OTSSP167", condense_func)

In [29]:
# Add official gene names as a new column
if (nThreads is None) or nThreads > 1:
    df3[geneSymbolColumn] = multiThreadedSearchGeneNames(df3['Name'].tolist(), EntrezEmail, nThreads)
    df4[geneSymbolColumn] = multiThreadedSearchGeneNames(df4['Name'].tolist(), EntrezEmail, nThreads)
else:
    df3[geneSymbolColumn] = df3.apply(geneSymbolLookupFromSeries, 1, email = EntrezEmail)
    df4[geneSymbolColumn] = df4.apply(geneSymbolLookupFromSeries, 1, email = EntrezEmail)

# Show rows where no official gene symbol was found
display(df3.loc[df3[geneSymbolColumn] == ""])
display(df4.loc[df4[geneSymbolColumn] == ""])

Using 50 threads...
Using 50 threads...

            DiscoveRx_Name         Name  OTSSP167  STF1285 GeneSymbol
231                   NIM1     MGC42105     100.0     96.0
250  PFCDPK1(P.falciparum)        CDPK1       0.0     96.0
251    PFPK5(P.falciparum)  MAL13P1.279     100.0     99.0
275   PKNB(M.tuberculosis)         pknB      15.0     96.0
294                    QSK     KIAA0999      15.0     80.0

            DiscoveRx_Name         Name  OTSSP167  STF1285 GeneSymbol
231                   NIM1     MGC42105     100.0    100.0
250  PFCDPK1(P.falciparum)        CDPK1       0.0     56.0
251    PFPK5(P.falciparum)  MAL13P1.279     100.0     91.0
275   PKNB(M.tuberculosis)         pknB      15.0     78.0
294                    QSK     KIAA0999      15.0     70.0

In [30]:
# For genes with missing official gene symbols, manually add official gene symbols
geneSymbolsMap = {
    "MGC42105": "NIM1K",
    "CDPK1": "PF3D7_0217500", # Genus/species: Plasmodium falciparum 3D7 - https://www.ncbi.nlm.nih.gov/gene/812762
    "MAL13P1.279": "PF3D7_1356900", # Genus/species: Plasmodium falciparum 3D7 - https://www.ncbi.nlm.nih.gov/gene/813841
    "pknB": "pknB", # Genus/species: Mycobacterium tuberculosis H37Rv - https://www.ncbi.nlm.nih.gov/gene/887072
    "KIAA0999": "SIK3"}

df3.loc[df3["Name"].isin(geneSymbolsMap), geneSymbolColumn] = list(geneSymbolsMap.values())
df4.loc[df3["Name"].isin(geneSymbolsMap), geneSymbolColumn] = list(geneSymbolsMap.values())

In [31]:
# Sort by official gene names
df3.sort_values(by=geneSymbolColumn, inplace=True)
df3.reset_index(drop=True, inplace=True)
df4.sort_values(by=geneSymbolColumn, inplace=True)
df4.reset_index(drop=True, inplace=True)

# Reorder columns
df3 = df3[[geneSymbolColumn, "Name", "OTSSP167", "STF1285"]]
df4 = df4[[geneSymbolColumn, "Name", "OTSSP167", "STF1285"]]

In [32]:
# Quick verification of gene symbol lookups

# Display rows where official gene symbol differed from original gene name
display(df3[df3['Name'] != df3[geneSymbolColumn]])
display(df4[df4['Name'] != df4[geneSymbolColumn]])

# Confirm there are no duplicate genes (rows)
print("Number of duplicated rows: " + str(sum(df3.duplicated() == True)))
print("Number of duplicated rows: " + str(sum(df4.duplicated() == True)))

        GeneSymbol         Name  OTSSP167  STF1285
42          CDK11A       CDC2L2      11.0    100.0
70           COQ8A        CABC1      93.0     98.0
71           COQ8B        ADCK4      86.0    100.0
131           GRK2       ADRBK1      74.0    100.0
132           GRK3       ADRBK2     100.0    100.0
137         HASPIN         GSG2       1.2      0.4
184        MAP3K20          ZAK      41.0     97.0
242          NIM1K     MGC42105     100.0     96.0
254           PAK5         PAK7       8.2     70.0
259  PF3D7_0217500        CDPK1       0.0     96.0
260  PF3D7_1356900  MAL13P1.279     100.0     99.0
325           SBK3       SgK110     100.0     98.0
331           SIK3     KIAA0999      15.0     80.0
346          STK26         MST4       8.6    100.0

        GeneSymbol         Name  OTSSP167  STF1285
42          CDK11A       CDC2L2      11.0    100.0
70           COQ8A        CABC1      93.0     85.0
71           COQ8B        ADCK4      86.0     97.0
131           GRK2       ADRBK1      74.0    100.0
132           GRK3       ADRBK2     100.0     66.0
137         HASPIN         GSG2       1.2      0.2
184        MAP3K20          ZAK      41.0     66.0
242          NIM1K     MGC42105     100.0    100.0
254           PAK5         PAK7       8.2     28.0
259  PF3D7_0217500        CDPK1       0.0     56.0
260  PF3D7_1356900  MAL13P1.279     100.0     91.0
325           SBK3       SgK110     100.0    100.0
331           SIK3     KIAA0999      15.0     70.0
346          STK26         MST4       8.6     87.0

Number of duplicated rows: 0
Number of duplicated rows: 0

In [33]:
display(df3)

    GeneSymbol    Name    OTSSP167  STF1285
0         AAK1    AAK1    6.200000     74.0
1         ABL1    ABL1    4.533333     59.0
2         ABL2    ABL2   72.000000    100.0
3        ACVR1   ACVR1   43.000000    100.0
4       ACVR1B  ACVR1B   82.000000    100.0
5       ACVR2A  ACVR2A  100.000000    100.0
6       ACVR2B  ACVR2B  100.000000     96.0
7       ACVRL1  ACVRL1   89.000000    100.0
8         AKT1    AKT1   97.000000    100.0
9         AKT2    AKT2   89.000000    100.0
10        AKT3    AKT3  100.000000    100.0
11         ALK     ALK   15.633333    100.0
12       ANKK1   ANKK1   38.000000     93.0
13       AURKA   AURKA    6.600000     90.0
14       AURKB   AURKB    0.650000    100.0
15       AURKC   AURKC   67.000000    100.0
16         AXL     AXL    2.500000     94.0
17         BLK     BLK    0.600000    100.0
18       BMP2K   BMP2K   61.000000    100.0
19      BMPR1A  BMPR1A   87.000000    100.0
20      BMPR1B  BMPR1B    0.000000     99.0
21       BMPR2   BMPR2   53.000000     89.0
22         BMX     BMX   49.000000    100.0
23        BRAF    BRAF   25.000000     99.0
24       BRSK1   BRSK1   67.000000    100.0
25       BRSK2   BRSK2  100.000000     94.0
26         BTK     BTK   20.000000    100.0
27        BUB1    BUB1    0.050000     73.0
28       CAMK1   CAMK1   81.000000    100.0
29      CAMK1D  CAMK1D   69.000000    100.0
..         ...     ...         ...      ...
365      TESK1   TESK1  100.000000     97.0
366     TGFBR1  TGFBR1   99.000000     89.0
367     TGFBR2  TGFBR2   14.000000    100.0
368       TIE1    TIE1   58.000000     96.0
369       TLK1    TLK1  100.000000    100.0
370       TLK2    TLK2   98.000000    100.0
371       TNIK    TNIK    0.500000     51.0
372       TNK1    TNK1  100.000000     84.0
373       TNK2    TNK2  100.000000    100.0
374     TNNI3K  TNNI3K    0.000000     99.0
375      TRPM6   TRPM6   62.000000    100.0
376     TSSK1B  TSSK1B   89.000000    100.0
377      TSSK3   TSSK3   79.000000    100.0
378        TTK     TTK    1.900000    100.0
379        TXK     TXK   11.000000     93.0
380       TYK2    TYK2   50.000000     53.0
381      TYRO3   TYRO3   76.000000    100.0
382       ULK1    ULK1   69.000000     97.0
383       ULK2    ULK2    1.900000     84.0
384       ULK3    ULK3    3.200000     94.0
385       VRK2    VRK2    7.100000    100.0
386       WEE1    WEE1  100.000000    100.0
387       WEE2    WEE2  100.000000    100.0
388       WNK1    WNK1  100.000000    100.0
389       WNK2    WNK2   90.000000    100.0
390       WNK3    WNK3  100.000000    100.0
391       WNK4    WNK4  100.000000     97.0
392       YES1    YES1   73.000000     95.0
393      ZAP70   ZAP70  100.000000    100.0
394       pknB    pknB   15.000000     96.0

[395 rows x 4 columns]

In [34]:
display(df4)

    GeneSymbol    Name    OTSSP167  STF1285
0         AAK1    AAK1    6.200000     21.0
1         ABL1    ABL1    4.533333     13.0
2         ABL2    ABL2   72.000000     78.0
3        ACVR1   ACVR1   43.000000     63.0
4       ACVR1B  ACVR1B   82.000000    100.0
5       ACVR2A  ACVR2A  100.000000     92.0
6       ACVR2B  ACVR2B  100.000000     78.0
7       ACVRL1  ACVRL1   89.000000     96.0
8         AKT1    AKT1   97.000000     99.0
9         AKT2    AKT2   89.000000     97.0
10        AKT3    AKT3  100.000000    100.0
11         ALK     ALK   15.633333     95.0
12       ANKK1   ANKK1   38.000000     64.0
13       AURKA   AURKA    6.600000     97.0
14       AURKB   AURKB    0.650000     67.0
15       AURKC   AURKC   67.000000    100.0
16         AXL     AXL    2.500000     66.0
17         BLK     BLK    0.600000     80.0
18       BMP2K   BMP2K   61.000000     91.0
19      BMPR1A  BMPR1A   87.000000     75.0
20      BMPR1B  BMPR1B    0.000000     44.0
21       BMPR2   BMPR2   53.000000    100.0
22         BMX     BMX   49.000000     82.0
23        BRAF    BRAF   25.000000     83.0
24       BRSK1   BRSK1   67.000000    100.0
25       BRSK2   BRSK2  100.000000     97.0
26         BTK     BTK   20.000000     96.0
27        BUB1    BUB1    0.050000     18.0
28       CAMK1   CAMK1   81.000000     91.0
29      CAMK1D  CAMK1D   69.000000     95.0
..         ...     ...         ...      ...
365      TESK1   TESK1  100.000000     96.0
366     TGFBR1  TGFBR1   99.000000    100.0
367     TGFBR2  TGFBR2   14.000000     83.0
368       TIE1    TIE1   58.000000    100.0
369       TLK1    TLK1  100.000000     94.0
370       TLK2    TLK2   98.000000    100.0
371       TNIK    TNIK    0.500000     15.0
372       TNK1    TNK1  100.000000     80.0
373       TNK2    TNK2  100.000000     98.0
374     TNNI3K  TNNI3K    0.000000    100.0
375      TRPM6   TRPM6   62.000000     85.0
376     TSSK1B  TSSK1B   89.000000     83.0
377      TSSK3   TSSK3   79.000000     86.0
378        TTK     TTK    1.900000     75.0
379        TXK     TXK   11.000000     60.0
380       TYK2    TYK2   50.000000     75.0
381      TYRO3   TYRO3   76.000000     88.0
382       ULK1    ULK1   69.000000     93.0
383       ULK2    ULK2    1.900000     89.0
384       ULK3    ULK3    3.200000     70.0
385       VRK2    VRK2    7.100000     74.0
386       WEE1    WEE1  100.000000     83.0
387       WEE2    WEE2  100.000000    100.0
388       WNK1    WNK1  100.000000    100.0
389       WNK2    WNK2   90.000000     87.0
390       WNK3    WNK3  100.000000    100.0
391       WNK4    WNK4  100.000000     99.0
392       YES1    YES1   73.000000     90.0
393      ZAP70   ZAP70  100.000000    100.0
394       pknB    pknB   15.000000     78.0

[395 rows x 4 columns]

In [35]:
df3.to_csv(os.path.join(dataAux_dir, Annes100_filename), index=False)
df4.to_csv(os.path.join(dataAux_dir, Annes500_filename), index=False)